{% extends 'base.html.twig' %}

{% block body %}
    <div class="mx-auto">
        <form class="w-80" method="post">
            <h1>Sign in</h1>
            {% if error %}
                <p class="error"><span>Oops! </span> Login failed.</p>
            {% endif %}
            <label for="username">Username</label>
            <input type="text" id="username" name="username" value="{{ last_username }}" />
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
            <label for="remember" class="block text-slate-500 mb-4"><input type="checkbox" id="remember" name="remember" class="relative align-text-bottom accent-green-500 w-4 h-4 outline-slate-200" /> Remember me</label>
            <input type="hidden" name="token" value="{{ csrf_token('authenticate') }}">
            <button type="submit">Submit</button>
        </form>
        <p class="text-xs m-4 text-slate-60">New around here? <a href="{{ path('register') }}">Create your account.</a></p>
    </div>
{%  endblock %}
