{% extends 'base.html.twig' %}

{% block body %}

    <table class="mx-auto">
        <tr>
            <th>Username</th>
            <td>{{ user.displayName }}</td>
        </tr>
    </table>
{% endblock %}
